{%
  set classes = [
  'region',
  'region--' ~ region|clean_class,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="region-inner">
      {{ content }}
      <div id="js-info"></div>
    </div>
  </div>
{% endif %}
