{#
This template exists solely for the purpose of
providing a copyright information for the footer.
#}

<span class="copyright">
  &copy;&nbsp;{{ 'now'|date('Y') }}&nbsp;&nbsp;Radio Localized&nbsp;&nbsp;•&nbsp;&nbsp;All rights reserved
</span>
