nav#block-radiolocalized-main-menu {

  ul.menu {
    @include clearfix;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li.menu-item {
      @include menu-item;
      @include menu-item--typography;

      &.menu-item--active-trail a {
        background-color: mix($menu-item--color--hover, white, 90%);
        color: mix($c--white, transparent, 75%);
      }
    }

    > li.menu-item {
      @include menu-item--main;
    }

    ul.sub-nav {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}
