.page-wrapper {
  padding: .5rem;
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "content map"
    "footer footer";
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-columns: 1fr 2fr;
  grid-gap: .25rem;
  background-color: rgba(black, .125);
  height: 100vh;
}

.region {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(black, .2);
  border-radius: 0;
  background-color: rgba(white, 1);

  &--header {
    grid-area: header;
  }

  &--navigation {
    grid-area: nav;
  }

  &--info {
    display: none;
  }

  &--content {
    grid-area: content;
    flex: 1;
    overflow-y: scroll;
  }

  &--map {
    grid-area: map;
  }

  &--footer {
    grid-area: footer;
  }
}

.region-inner {
  padding: .5rem;
}
