.region--header {
  display: grid;
  grid-template-areas:
    "title"
    "subtitle"
    "info";

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  @include breakpoint($md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title subtitle info";
  }
}

h1.site-name {
  grid-area: title;
  padding: .5rem;
  border-bottom: 1px solid #ccc;

  @include breakpoint($md) {
    border-bottom: 0;
    border-right: 1px solid #ccc;
  }
}

.block-views-blockepisode-title-episode-title-block {
  grid-area: subtitle;
  padding: .5rem;
  border-bottom: 1px solid #ccc;

  @include breakpoint($md) {
    border-bottom: 0;
    border-right: 1px solid #ccc;
  }
}

.block-views-blockepisode-title-episode-air-date-block {
  grid-area: info;
  padding: .5rem;
}

h1.site-name {
  margin: 0;
}

h2.page-title {
  margin: 0;
}

h3.episode-date {
  margin: 0;
}
