.song-teaser {
  margin-bottom: .5em;
  border: 1px solid #ccc;
  padding: .5em;

  .song-title {
    font-size: 1em;
    margin-bottom: .125em;
  }

  .section--details {
    font-size: .9em;
  }
}

div.all-inline-blocks:not(.layout-builder__layout) {

  div {
    display: inline;
  }
}

