.region--header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1.site-name {
    line-height: 1;
    margin: 0;
  }

  h2.page-title {
    line-height: 1;
    margin: 0;
  }

  h3.episode-date {
    line-height: 1;
    margin: 0;
  }
}
