::-webkit-scrollbar {
  width: 12px;
  margin:10px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  padding: 10px;
  background: $c--scrollbar-track-background;
  box-shadow: inset 2px 0 4px $c--scrollbar-track-shadow;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: $c--scrollbar-thumb-background;
  box-shadow: inset 0 0 6px $c--scrollbar-thumb-shadow;

  &:hover {
    background: $c--scrollbar-thumb-background--hover;
    box-shadow: inset 0 0 6px $c--scrollbar-thumb-shadow--hover;
  }
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $c--scrollbar-thumb-background;
}
