

a, a:hover, a:visited {
  color: #0071bc;
}

#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#header {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 5;

  h1,
  h2,
  p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
  }
}

#footer {
  min-height: 5vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.hidden {
  visibility: hidden;
}

.centered {
  width: 50vw;
  margin: 0 auto;
}

.lefty {
  //width: 33vw;
  //margin-left: 5vw;
}

.righty {
  //width: 33vw;
  //margin-left: 62vw;
}

.fully {
  width: 100%;
  margin: auto;
}

.light {
  color: #444;
  background-color: #fafafa;
}

.dark {
  color: #fafafa;
  background-color: #444;
}

.step {
  padding-bottom: 100vh;
  opacity: 0.25;

  div {
    padding:  1.5em 3em;
    line-height: 25px;
    font-size: 13px;
    border: 4px solid #444;
  }

  &.active {
    //opacity: .999;
  }
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
  }
}
