div#story {
  position: relative;
  z-index: 100;

  div#features {
    padding: 0;

    .step {
      padding: 0 0 100vh;
      opacity: 0.25;
      width: 30vw;

      &.lefty {
        margin-left: 3vw;
        margin-right: auto;
      }

      &.righty {
        margin-right: 3vw;
        margin-left: auto;
      }

      &.active {
        opacity: .999;
      }
    }
  }
}

div#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  margin: 0;
  padding: 0;
}

div#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  margin: 0;
  padding: 0;
}
