.page-node-type-episode {

  .page-wrapper__episode {
    grid-template-areas:
        "header header"
        "nav nav"
        "info info"
        "content map"
        "footer footer";
    grid-template-columns: 1fr 2fr;
  }

  .page-wrapper__episode--edit {
    height: auto;
    grid-template-areas:
        "header"
        "nav"
        "info"
        "content"
        "footer";
    grid-template-columns: 1fr;
  }

  .region--content {
    background-color: mix($c--primary, $c--white, 20%);
    direction: rtl;

    > .region-inner {
      direction: ltr;
    }
  }
}

.page-node-type-episode-edit {

}
