.song-teaser {
  margin-bottom: .5em;
  border: 1px solid $c--gray--light;
  padding: .5em;
  background-color: rgba($c--white, .75);
  line-height: $line-height--small;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button--info {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid red;
    padding: 0;
    opacity: .25;
  }

  &.hovering {
    background-color: $c--white;

    .button--info {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__text {
    font-size: $font-size--sm;
    flex: 1;
  }

  &__title {
    font-size: $font-size--md;
    margin-bottom: $gutter--xxs;
  }

  &__button {
    font-size: $font-size--md;
  }

}

div.all-inline-blocks:not(.layout-builder__layout) {

  div {
    display: inline;
  }
}
