.view-display-id-eva_episode_songs {

  > .views-row {

    &:last-of-type {
      margin-bottom: -0.5em;
    }
  }
}

.song-wrapper {
  border: 1px solid $c--gray--light;
  margin-bottom: 0.5em;
  background-color: rgba($c--white, 0.5);
  transition:
    background-color linear .25s,
    border-color linear .25s;

  &.song--active {
    background-color: $c--white;
    border-color: $c--gray--dark;
    transition:
      background-color linear .25s,
      border-color linear .25s;
  }
}

.mini-block {
  // border: 1px solid $c--gray--light;
  // background-color: rgba($c--white, 0.5);
  padding: 0.5em;
  // margin-bottom: 0.5em;
}

.song--active {
  .song-teaser > .mini-block {
    // background-color: $c--white;
    margin-bottom: 0;
    border-bottom: 0;
    // transition: all linear .25s;
  }

  .song-info > .mini-block {
    // background-color: $c--white;
    // border-top: 0;
    // transition: all linear .25s;
  }
}

.song-teaser > .mini-block {
  // background-color: rgba($c--white, 0.625);
  line-height: $line-height--small;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button.button--info {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 1px solid red;
    padding: 0;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: .75;
    }

    iconify-icon {
      transform: rotate(90deg);
      transition: transform 0.25s ease;
    }

    &.active iconify-icon {
      transform: rotate(-90deg);
    }
  }

  &.hovering {
    background-color: $c--white;

    .button--info {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__text {
    font-size: $font-size--sm;
    flex: 1;
  }

  &__title {
    font-size: $font-size--md;
    margin-bottom: $gutter--xxs;
  }

  &__button {
    font-size: $font-size--md;
  }
}

.song-info {
  box-sizing: border-box;
  transition: max-height 0.25s linear;
  max-height: 0;
  overflow: hidden;

  &.active {
    max-height: var(--song-info-max-height, 64rem);
  }
}

.song-info > .mini-block {
}

div.all-inline-blocks:not(.layout-builder__layout) {
  div {
    display: inline;
  }
}

.modal-outer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($c--primary--darkest, 0.8);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s linear;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.modal-inner {
  width: 50vw;
  height: 50vh;
  background-color: rgba($c--primary--lightest, 0.9);
  z-index: 2000;
  border: 1px solid rgba($c--white, 0.5);
  border-radius: 0.5em;
  padding: 1.25em;
}

.song-info {
  &__title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $c--primary--light;
  }

  &__stats {
    text-transform: none;
  }

  &__location {
    text-transform: none;
    margin-top: 0.5rem;
  }

  &__description {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $c--primary--light;
  }
}
