html {
  font-size: $html-font-size;
}

body {
  font-family: $font-family--base;
  font-size: $font-size--body;
  font-weight: $font-weight--base;
  line-height: $line-height--base;
  color: $font-color--base;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.paragraph {
  margin: 0 0 $paragraph-padding;
  line-height: $line-height--base;
}

p {
  margin:  0 0 $paragraph-padding;
  line-height: $line-height--base;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $font-family--heading;
  font-weight: $font-weight--heading;
  line-height: $line-height--heading;
  margin-bottom: $gutter--narrower;
  color: $font-color--heading;
}

h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-h2;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-h3;
  text-transform: uppercase;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

a {
  color: $c--link;
  text-decoration: none;

  &:hover {
    color: $c--link--hover;
    text-decoration: underline;
  }
}

.site-name a {
  display: block;
  text-decoration: none;
  color: $c--primary--dark;

  &:hover {
    color: $c--primary--darkest;
  }
}

//.section--content {
//  font-size: calc( #{$down-size} - #{$vw-rate-down} );
//
//  @include breakpoint($switch-point) {
//    font-size: calc( #{$up-size} + #{$vw-rate-up} );
//  }
//
//  @include breakpoint($xl) {
//    font-size: calc( #{$up-size} + #{$xl/100 * strip-unit($vw-rate-up)} );
//  }
//}
//
//.region-header {
//  font-size: calc( #{.5em} + #{.65vw} );
//
//  @include breakpoint($xl) {
//    font-size: calc( #{.5em} + #{$xl/100 * strip-unit(.65vw)} );
//  }
//}
